@import './normalize.css';

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #003863;
  font-family: 'Rubik', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav-bar {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ee5f28;
}

.main-stage {
  flex: 10;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.nav-button {
  color: white;
  font-size: 150%;
  cursor: pointer;
}

.stage-banner {
  position: relative;
  margin: 0.5em;
}

.stage-banner svg {
  position: absolute;
  color: #ee5f28;
  right: 0;
  top: 47%;
  transform: translateY(-50%);
  font-size: 120%;
}

.stage-title {
  text-align: center;
  padding: 1em 0;
  margin: 0.5em;
  color: #ee5f28;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 110%;
  letter-spacing: 2px;
}

.app-title {
  text-align: center;
  padding: 1em 0;
  margin: 0.5em;
  color: #ee5f28;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 200%;
  letter-spacing: 2px;
}

.label {
  padding: 1em 0;
  margin: 0.5em;
  color: #ee5f28;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 110%;
  letter-spacing: 1.5px;
}

.ui-button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 1em 0;
  padding: 1em;
  width: 50%;
  font-weight: bold;
  background: #ee5f28;
  left: 0;
  letter-spacing: 2px;
  right: 0;
  text-transform: uppercase;
}

.thumbnail {
  max-height: 50vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#slide-form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  color: white;
}

#slide-form label {
  padding: 1em 0;
}

#slide-form input[type='text'] {
  margin: 0 0 0.5em;
  padding: 0.75em;
  font-size: 16px;
}

.thumbnail {  
  width: 100vw;
  height: 100vh;
}

.selection-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}


.fancyin {animation:fade-in 1.5s;}

.fancyout {animation:fade-out 1.5s;}

@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fade-out {
    from {opacity:1;}
    to {opacity:0;}
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  text-align: center;
  padding-bottom: 40px;
  width: 400px;
  height: 200px;
  background: white
}

.c2 {
  padding-top: 40px;
  margin-bottom: 20px
}